body{

    margin: 0;
    padding: 0;
    height: 100vh;
}

#player{
    width: 100px;
    height: 100px;
    background-color: magenta;
    border-radius: 100%;
    position: absolute;
    transition: 0.2s;
}

.food{
    width: 30px;
    height: 30px;
    background-color:cyan;
    border-radius: 100%;
    position: absolute;
}